@use 'variables' as *;
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:not(i) {
    font-family: 'Cabin', sans-serif;
    font-optical-sizing: auto;
  }
}

body {
  color: $black;
  background: $bg;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  @include flex-col;
}

button {
  background: $primary;
  color: white;
  border: none;
  border-radius: $border-radius;
  font-size: 1rem;
}

.white-space {
  white-space: pre;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.hidden {
  position: absolute;
  top: -999999;
  left: -9999999;
  visibility: hidden;
  opacity: 0;
}

/* Event Delegation Fix */
button > * {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  a {
    color: darken($primary, 20%);
  }

  a,
  button {
    transition: $transition-duration;
    cursor: pointer;
  }
}

::selection {
  background-color: $primary;
  color: $white;
}
